<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a routerLink="" class="navbar-item">Socketer</a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a *ngIf="!(connected$ | async)" (click)="connect()" class="navbar-item">
        Connect
      </a>
      <a *ngIf="connected$ | async" (click)="disconnect()" class="navbar-item">
        Disconnect
      </a>
      <a routerLink="settings" class="navbar-item">Settings</a>
    </div>
  </div>
</nav>
