<section class="section log-message">
  <div class="tags">
    <span class="tag is-light">Request</span>
    <span class="tag is-dark">/messages</span>
  </div>
  <pre>
    {{ '{' }}
      "message": "Forbidden",
      "code": 6,
      "data":  {{ '{}' }}
    {{ '}' }}
  </pre>
</section>

<section class="section log-message">
  <div class="tags">
    <span class="tag is-success">Response</span>
    <span class="tag is-dark">/messages</span>
  </div>
  <pre>
    {{ '{' }}
      "message": "Forbidden",
      "code": 6,
      "data":  {{ '{}' }}
    {{ '}' }}
  </pre>
</section>

