@import "~bulma";

.log-heading {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.log-filters {
}

.log-item {
  flex-direction: column;
  padding: 0;

  .log-item-header {
    padding: 0.5em 0.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dbdbdb;
  }

  .log-item-content {
    width: 100%;
  }

}

.log-CONNECTED {
  background: $success;
}

.log-DISCONNECTED {
  background: $danger;
}
